.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 3vh;
  height: 4.5vh;
  width: 25vw;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 16px;
  border: 2px solid rgb(108, 108, 240);
}
button {
  padding: 5px 5px 5px 5px;
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
